/* .header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5;
}
nav{
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Mr De Haviland', cursive;
    font-size: 30px;
}
.logo a{
    text-decoration: none;
    color: #6a0dad;
}

.logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.link{
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a{
    text-decoration: none;
    margin:0 10px;
    color: #000;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font: 600 14px/30px Montserrat,sans-serif;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    
}
.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    transform: scale(2);
    transition: transform 0.25s;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 70px;
    height: 30px;
    background: #6a0dad;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
    top: 9px;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    transition: 0.2s;
    background: #d2b2e5;
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }
  #main-content{
    position: relative;
}
#title{
    width: 20%;
    left: 20px;
    position: absolute;
    top: 10px;
}
#title{
    display: none;
}
#title img{
    width: 70%;
}
#btn{
    position: fixed;
    z-index: 5;
    top: 32px;
    right: 15px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    border: none;
    background: transparent;

}
  #btn div{
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #EB3006;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}
#btn:hover > div { box-shadow: 0 0 1px #000708; }
#btn.active{ right:12px; }
#btn.active div{ background-color: #EB3006; }
#btn.active:hover > div { box-shadow: 0 0 1px #343838; }
#btn.active #top{
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
#btn.active #bottom{
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
#box{
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    right: -275px;
    background-color: #fff;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    color: #343838;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#box.active{
    right: 0px;
    opacity: 1;
    border-bottom:#FFF;
}
#items{
    position: relative;
}
#items a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
}
#items .item{
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}
#items .item:hover{
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}
  .header-icons{
    width: 60%;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center; 
    height: 80px;
    padding: 0 2rem;
    background-color: aqua;
    color: black;
}
nav a{
    margin: 0 2rem;
    color: antiquewhite;
    text-decoration: none;
}
nav a:hover{
    color: aqua;
}
header .nav-btn{
    padding: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: blue;
    visibility: hidden;
    opacity: 0;
}
@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: blueviolet;
        transition: 1s;
        transform: translateY(-100vh);
 
    }
    header .responsive_nav{
        transform: none;
    }
}