body::-webkit-scrollbar{
    width:12px;
    height:5px;
    background-color: #6a0dad;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #d2b2e5;
    border-radius: 10px;
}
.Banner-bg{
    background-image: url("../assets/images/banner1.svg");
    width: 100%;
    height: 800px;
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.Banner-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 30px;
    letter-spacing: -1.01px;
    font-family: Montserrat,sans-serif;
    margin-bottom: 0;
}
.services-img{
    width: 600px;
    height: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.services-img img{
    width: 100%;
    height: 100%;
}
.services-text{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.my-portfolio{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6a0dad;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
    text-align: center;
}
.my-portfolio-text{
    font-size: 38px;
    font-weight: 700;
    color: #040c2c;
    text-transform: capitalize;
    letter-spacing: -2px;
    text-align: center;
}
.services-price{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.services-title{
    font-family: Montserrat,sans-serif;
    color: #6a0dad;
    text-transform: capitalize;
}
.Portfolio1 , .Portfolio2{
    width: 100%;
    height: 100%;
}
.services-para{
    color: #677294;

}
.my-blog{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6a0dad;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
    text-align: center;
}
.my-blog-text{
    font-size: 38px;
    font-weight: 700;
    color: #040c2c;
    text-transform: capitalize;
    letter-spacing: -2px;
    text-align: center;
}
.div1 {
    min-height: 580px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wrapper {
    position: relative;
}
.navi img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.infoi {
    position: absolute;
    top: 300px;
    padding: 25px;
    background-color: aliceblue;
    text-align: 'center';
    margin: 25px;
    min-height: 160px;
}
.navi .date{
    color: #ffffff;
    right: 47px;
    top: 30px;
    border-radius: -280px;
    flex-direction: column;
}
.navi .date span {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    padding: 13px 22px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    z-index: 1;
}
.get{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6a0dad;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
}
.get-text{
    font-size: 38px;
    font-weight: 700;
    color: #6a0dad;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.contact-info{
    display: flex;
    flex-direction: row;
}
.first-col{
    width: 170px;
    color: #6a0dad;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
}
.first-col-inner{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 190px;
    height: 102px;
}
*:focus {
    outline: none;
}

input {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #494949;
    box-shadow: none;
    /* border: 1px solid #ededed; */
    border :1px solid #6a0dad;
    border-radius: 0;
    padding-left: 20px;
    text-transform: capitalize;
    min-height: 44px;
    margin-bottom: 30px;
}
.form-control {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #494949;
    box-shadow: none;
    /* border: 1px solid #ededed; */
    border-radius: 0;
    padding-left: 20px;
    text-transform: capitalize;
    min-height: 44px;
    margin-bottom: 30px;
    border-radius: 0px;
    border :1px solid #6a0dad;
}
.btns{
    background: #6a0dad;
    color: #fff;
    padding: 9px 30px;
    border: none;
}    
.frelencer_content h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        padding-bottom: 30px;
        letter-spacing: -1.01px;
        font-family: Montserrat,sans-serif;
        margin-bottom: 0;
        color: #000;
}
.frelencer_content h2 span {
    color: #6a0dad;
    font-weight: 900;
}
.frelencer_content h4 span {
    background: rgba(13,179,199,.12);
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 6px;
    color: #6a0dad;
}
.theme_btn.active {
    background: #6a0dad;
    border-color: #6a0dad;
    text-decoration: none;
    color: #fff;
    border-radius: 0px;
}
.theme_btn {
    margin-top: 40px;
    color: #fff;
    display: inline-flex;
}
.theme_btn {
    font-size: 20px;
    font-weight: 500;
    color: #040c2c;
    font-family: Montserrat,sans-serif;
    border: 2px solid #040c2c;
    padding: 10px 36px;
    border-radius: 3px;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
    min-width: 140px;
    text-align: center;
    display: inline-block;
}